.App {
  text-align: center;
}

.App-main {
  background-color: black;
  background-image: url("../public/demonic-tutor-1024x802.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quip {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 100px;
}